# Project settings
llama_model_path = model_path_here
cors_origins = cors_origins_here # e.g. ["http://localhost:3000", "http://127.0.0.1:3000"]
trusted_hosts = trusted_hosts_here # e.g. ["localhost", "127.0.0.1"]

# Chromadb settings
persist_directory = chromadb_path_here
anonymized_telemetry = False
allow_reset = False
chroma_api_impl = api_impl_here # e.g. duckdb+parquet
is_persistent = True